<br />
<h2>Here is a list of available games</h2>
<br />
<ul>
  <% @games.each do |game| %>
    <div class="game-info">
      <% if game.black_player_id.nil? %>
      <li>The game <%= game.id %> is waiting for the second player</li>
      <% end %>
    </div>  
  <% end %>
</ul>