<html>
	<head>
		<link rel="stylesheet" type="text/scss" href="games.scss">
	</head>
    <body>
    <h1>Chess app</h1>
    <p>The most advanced chess training app. Improve your skills, learn tactics and strategies.</p>
    
    <div class="board"></div>
    <link rel="stylesheet" type="text/scss" href="application.scss">
		<script type="text/javascript" src="app\assets\javascripts\board.js"></script>
    
    </body>
</html>