<html>
	<head>
		<link rel="stylesheet" type="text/scss" href="games.scss">
	</head>
	<body>
		<div class="board"></div>
		<script type="text/javascript" src="assets\javascripts\board.js"></script>
	</body>
</html>